/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utility*/
h3{
    font-size: 30px;
    padding: 20px 0;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    max-width: 1500px;
    min-width: 600px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.button{

    background-color: rgb(0, 110, 255);
    color: white;
    padding: 5px 20px;
    
    
}

/*general*/


header{
    position: fixed;
    z-index: 999;
    height: 80px;
    width: 100%;
    line-height: 80px;
    color: black;
    background-color: rgb(199, 199, 199);
    
    
}
.logo-section,.button-section{
    width: 50%;
}


.logo-section ul li {
    display: inline-block;
    padding: 0 20px;
}

.logo-section ul li a img{
    vertical-align: middle;
}

.button-section{
    text-align: right;
}
.button-section ul li {
    
    display: inline-block;
    padding: 0 20px;
    
}

/*jumbotron*/

.jumbotron{
    padding-top: 80px;
    margin-bottom: 250px;
    z-index: 998;
    background-color: rgba(120, 163, 192, 0.993);
    
    
    
     
   
}

.jumbotron-content{
    padding: 50px 0;
}

.jumbotron h1{
    font-size: 90px;
    margin-bottom: 80px;
    
    
}

.jumbotron-col-sx{
    width: 39%;
    margin-right: 1%;
}

.jumbotron-col-sx p{
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    
}





.jumbotron-col-dx{
    position: relative;
    width: 59%;
    margin-left: 1%;
}

.jumbotron-col-dx img{
   width: 100%;
   position: absolute;
   top: 0;
   left:0;
   
   
}

 .fa-arrow-down-long{
     font-size: 50px;
 }


 /*main*/
 .title-section h2{
     font-size: 50px;

 }

 .fa-circle-dot{
     color: blue;
 }
 .fa-circle{
     color: rgb(236, 236, 236);
     border: 1px solid black;
     border-radius: 50%;
 }

 .colum-section{
     margin-top: 50px;
 }

 

.colum-1,.colum-2,.colum-3{
     width:30% ;
    border: 1px solid rgb(216, 215, 215);
}
     
    
   
    
    
    
     

.colum-2{
    margin:0 5%;

}


.footer-section{
    margin-top: 50px ;
    margin-bottom: 150px;
    border: 1px solid rgb(216, 215, 215);
    height: 200px;
    
}

.plan-section .icon{
    border-bottom: 1px solid gray;
    padding: 15px 0;
    text-align: center;
}

.plan-section .list-col-top {
    padding: 0 20px ;
    
  
}


.plan-section .list-col-top ul li{
    padding: 15px;
    
}

.fa-check{
    color: blue;
}

.free-trial{
    text-align: center;
    padding: 15px 20px;
    
}

.free-trial span{
    display: block;
    padding: 10px 0;
}

.free-trial span a{
    text-decoration: underline;
    color: blue;
}

.footer-section .footer-section-title{
    padding: 15px;
    width: 80%;
}
.footer-section .footer-button{
    padding: 15px;
    width: 20%;

}
/*partner section*/

.partner-section{
    margin-bottom: 150px;
}

.partner-col-sx{
    width: 49%;
    margin-right: 1%;
}
.partner-col-sx img{
    width: 100%;
}
    
.partner-col-dx{
    padding: 30px;
    width: 50%;
}

.partner-col-dx span{
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 25px;
}
    
/*feature*/
.feature-section{
    text-align: justify;
}
.feature-section .colum-feature-1,.colum-feature-2,.colum-feature-3{
    width: 30%;
    margin-bottom: 50px;
    
}

.feature-section .colum-feature-2{
    margin: 0 5%;
}

.feature-section img{
    width: 100%;
}

.feature-footer-title {
    margin-top: 150px;
    margin-bottom: 50px;
    
}

.feature-footer-title h2 {
    font-size: 40px;
    padding-bottom: 15px;
}

.feature-footer-title a{
    text-decoration: underline;
    color: blue;
}



    
    



